.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  cursor: pointer;
  width: 40px;
  height: 32px;
}
.burger-button, .burger-button:before, .burger-button:after  {
  width: 40px;
  height: 4px;
  background: blue;
  top: 50%;
  position: absolute;
  transition: all 0.6s;
  transform-origin: 50% 50%;
}
.burger-button:before {
  content: '';
  top: -13px;
  left: 0;
  position: absolute;
  
}
.burger-button:after {
  content: '';
  top: 13px;
  left: 0;
  position: absolute;
}
.burger-button.trigger {
  transform: rotate(180deg);
}
.burger-button.trigger:after {
  transform-origin: 100% 50%;
  transform: translateY(-14px) rotate(-45deg) scaleX(0.7);
  
  
}
.burger-button.trigger:before {
  transform-origin: 100% 50%;
  transform: translateY(14px) rotate(45deg) scaleX(0.7);
}
